@import 'variables';

body {
    font-family: $baseFont;
    font-size: $baseFontSize;
}

.container {
    max-width: $containerWidth;
    margin: 50px auto;
}

fieldset {
    margin: 30px 0;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid $mediumColor;

    legend {
        font-weight: 600;
        text-transform: capitalize;
    }
}

input[type="text"] {
    font-size: $inputFontSize;
    padding: 5px 10px;
    border: 1px solid $borderColor;
    border-radius: 5px;

    label + & {
        margin: 10px 0 0;
    }
}

.module-config-item {
    label {
        margin: 0 10px 0 0;
    }
}

.form-set-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 0 0;

    .form-set-item {
        text-align: center;
        margin: 0 0 20px;

        label {
            span {
                margin-left: 5px;
            }
        }

        .item-options {
            margin: 10px 0 0;
        }
    }
}

.form-set-name {
    label {
        margin: 0 15px 0 0;
    }
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.form-btns {
    margin: 20px 0;
    text-align: right;
}

.form-btn {
    background-color: $darkColor;
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &:hover, &:active, &:focus {
        background-color: $mediumColor;
    }
}

.form-msg {
    font-size: $smallFontSize;

    .item {
        padding: 10px;
        margin: 0 0 10px;
        border-radius: 5px;

        &.error {
            background-color: $errorBg;
            border: 1px solid $errorColor;
        }

        &.success {
            background-color: $successBg;
            border: 1px solid $successColor;
        }
    }
}

.tooltip {
    .ico {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: 0 0 0 10px;
        background: $lightColor;
        color: $darkColor;
        font-weight: 600;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid $darkColor;
    }

    .info {
        display: block;
        font-size: $smallFontSize;
        margin: 10px 10px 0;
    }
}

