$baseFont: 'Arial', sans-serif;
$baseFontSize: 18px;
$inputFontSize: 16px;
$smallFontSize: 14px;

$darkColor: #618264;
$mediumColor: #79AC78;
$lightColor: #D0E7D2;
$borderColor: #bbb;
$errorBg: #fac3c3;
$errorColor: #fc1212;
$successBg: #cffac3;
$successColor: #01c016;

$containerWidth: 1200px;