<script setup>
    import { toRaw, reactive, ref } from 'vue'
    import CheckboxSetWithLabel from './FormElements/CheckboxSetWithLabel.vue'
    import Messages from './FormElements/Messages.vue'

    const props = defineProps(['options', 'input', 'config'])

    let result = {}

    const moduleConfig = reactive(props.config)

    const messages = reactive([])
    const messagesType = ref('')

    function collectOptions(dataOptions) 
    {
        let rawDataOptions = toRaw(dataOptions)
        let key = Object.keys(rawDataOptions)[0]
        result[key] = rawDataOptions[key]
        
        let moduleConfigRaw = toRaw(moduleConfig)        
        result['config'] = moduleConfigRaw
    }

    function processData()
    {   
        window.axios.post('/module-designer/process', result)
            .then(function(response) {
                let respData = response.data
                messages.length = 0
                if('undefined' !== respData) {
                    Object.keys(respData).forEach(function(key) {
                        if(0 == respData[key]) {
                            showMessages(`${key} was created succesfully`, 'success')
                        }
                    })
                }

            })
            .catch(function(error) { 
                let errorMess = error.response.data.message
                messages.length = 0
                if('undefined' !== errorMess) {
                    showMessages(errorMess, 'error')
                }
            })
            .finally(function() {
                document.querySelectorAll('.in-elem').forEach(function(input) {
                    input.value = ''
                })

                result = {}
            })
    }

    function showMessages(data, type = null)
    {
        messages.push(data)
        messagesType.value = type
        window.scrollTo(0,0)
    }
</script>

<template>
    <form class="module-designer-form" @submit.prevent="processData">

        <Messages :msg="messages" :type="messagesType"/>

        <div class="input-row module-config">
            <div 
                class="module-config-item"
                v-for="(value, key) in moduleConfig" 
                :key="key">
                <label>Module {{ key }}</label>
                <input 
                    type="text" 
                    v-model="moduleConfig[key]"
                    required>
            </div>
        </div>
            
        <CheckboxSetWithLabel 
            v-for="(items, index) in options"
            :key="index"
            :label="index" 
            :options="items" 
            :input="input" 
            @optionsChanged="collectOptions">
        </CheckboxSetWithLabel>    

        <div class="form-btns">
            <button type="submit" class="form-btn">Submit</button>
        </div>

    </form>
</template>