<script setup>
    import { reactive } from 'vue'
    import OptionTooltip from './OptionTooltip.vue'
    
    const props = defineProps(['label', 'options', 'input'])
    const emit = defineEmits(['optionsChanged'])
    
    const dataSet = {}
    dataSet[props.label] = {}
    dataSet[props.label]['values'] = []
    dataSet[props.label]['options'] = []
    dataSet[props.label]['name'] = []

    let itemOptions = props.input[props.label]['options']
    dataSet[props.label]['options'] = itemOptions

    const dataOptions = reactive(dataSet)

    function optionsChanged(event) 
    {     
        emit('optionsChanged', dataOptions)

        toggleOption(event.target.getAttribute('name'))
    }

    function toggleOption(name)
    {
        let option = document.querySelector('[name="' + name + '_option' + '"]')
        if(option) {
            option.style.display = option.style.display === 'none' ? '' : 'none'
        }
    }
</script>

<template>
    <fieldset>
        <legend>{{ label }}</legend>  
        <div class="form-set-name">
            <label>Class name</label>
            <input 
                type="text" 
                v-model="dataOptions[label]['name']"
                @change="optionsChanged($event)"
                :name="label + '_' + 'name'"
                class="in-elem"> 
        </div>
        <div class="form-set-row">
            <div class="form-set-item" v-for="(items, index) in props.options">
                <label>                    
                    <input 
                        type="checkbox" 
                        :value="items[0]" 
                        v-model="dataOptions[label]['values']" 
                        :name="label + '_' + items[0]" 
                        @change="optionsChanged($event)">
                    <span>{{ items[0] }}</span>                    
                </label>
                <OptionTooltip :info="items[3]"></OptionTooltip>
                <input 
                    type="text" 
                    v-model="dataOptions[label]['options'][items[0]]" 
                    :name="label + '_' + items[0] + '_option'"
                    v-if="props.input[label]['options'].hasOwnProperty(items[0])" 
                    style="display:none"
                    class="item-options in-elem">
            </div>
        </div>
    </fieldset>
</template>