<script setup>  
    import { computed } from 'vue'

    const props = defineProps(['msg', 'type'])
    
</script>
<template>
    <div class="form-msg">
        <div v-for="(message,key) in props.msg" :key="key" :class="props.type + ` item`">{{ message }}</div>
    </div>
</template>