<script setup>
    import { ref } from 'vue'

    const props = defineProps(['info'])
    const showInfo = ref(false)
</script>
<template>
    <span class="tooltip">
        <span class="ico" @click="showInfo = !showInfo">i</span>
        <span class="info" v-html="info" v-if="showInfo"></span>
    </span>
</template>